a:hover {
  text-decoration: none;
}

/*Admin Panel Nav*/
.admin-panel-nav .panel-nav-item {
  border: 1px solid rgb(100, 100, 100);
  text-align: center;
  color: rgb(100, 100, 100);  
  font-weight: 600;
}

.admin-panel-nav .panel-nav-item:hover,
#panel-nav-item-active {
  background: rgb(100, 100, 100);
  color: white;
  transition: all .2s linear;
}

/*Admin Panel Table*/
table {
  border: 1px solid #dee2e6;
}

table thead {
  background: #edeef0;
}

table thead a,
.page-link {
  color: rgb(85, 85, 85);
}


table thead a:hover,
.page-link:hover {
  color: rgb(51, 50, 50);
  transition: color .2s linear;
}

.page-item.active .page-link {
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: white;
}

.page-link:focus {
  box-shadow: none;
}