.admin-panel-nav .panel-nav-item {
  border: 1px solid rgb(100, 100, 100);
  text-align: center;
  color: rgb(100, 100, 100);  
  font-weight: 600;
}

.admin-panel-nav .panel-nav-item:hover {
  text-decoration: none;
  background: rgb(100, 100, 100);
  color: white;
  transition: all .2s linear;
}
