/*Nav*/
.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link {
  color: #45A29E;
  font-size: 1.1rem;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  background: rgb(237, 238, 240);
  color: #45A29E;
  font-weight: 700;
  border-color: rgb(237, 238, 240);
}

.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

/*Display Section*/
.display-panel {
  background: rgb(237, 238, 240);
}

.badge-green {
  background: #379683;
  color: white;
  font-size: .85rem;
  padding: .5rem .6rem;
}

.display-panel .topic {
  color: rgb(104,104,104);
}

/*Feed Section*/
#feed-section .title a {
  color: #379683;
}

#feed-section .title a:hover {
  color: #2d8372;
}

#feed-section .description {
  color: rgb(92, 92, 92);
}

/*Card*/
.card-title a {
  color: rgb(100, 100, 100);
  font-weight: 600;
}

.card-title a:hover {
  color: rgb(73, 73, 73);
}

.card-description {
  color: rgb(100, 100, 100);
}

/*Like & Favorite*/
.like-btn,
.favorite-btn {
  color: rgb(100, 100, 100);
}

.like-btn:hover,
.favorite-btn:hover {
  color: rgb(73, 65, 65);
}

.btn.focus, 
.btn:focus {
  box-shadow: none;
}

/*Top User Section*/
#top-user-section .avatar {
  width: 30%;
}

/*Follow*/
#top-user-section .btn-group-sm>.btn, .btn-sm {
  border-radius: 1rem;
  padding: 0 .5rem
}

/*sm size*/
@media screen and (min-width: 576px) {
  .card-body .card-text:last-of-type {
    min-height: 48px;
  }
}

/*md size*/
@media screen and (min-width: 768px) {
  /*Top User Section*/
  #top-user-section .avatar {
    width: 40%;
  }
}

/*lg size*/
@media screen and (min-width: 992px) {
  /*Top User Section*/
  #top-user-section .avatar {
    width: 55%;
  }
}