.small-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(100, 100, 100);
}

.small-edit-btn:hover {
  color: rgb(70, 69, 69);
}

.big-edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 1px;
  text-align: center;
  color: rgb(100, 100, 100);  
  font-weight: 600;
}

.big-edit-btn:hover {
  background: rgb(100, 100, 100);
  color: white;
  transition: all .2s linear;
}

/*Commented Restaurants*/
.comment-header,
a.media {
  color: rgb(100, 100, 100);
}

a.media:hover {
  color: rgb(73, 73, 73);
}

.media .media-image {
  width: 64px;
  height: 64px;
}

.media .media-image .loader-container {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media .media-image .loader {
  border: 4px solid #f3f3f3;
  border-top: 5px solid rgb(133, 133, 133);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/*Control spin steps*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}

.media img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 64px;
  height: auto;
}